.nav {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  justify-content: center;
  background-color: #f55a5a;
  padding: 1.5em;
  margin-bottom: 2em;
}
.nav img {
  margin-right: 0.75em;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.card-img {
  max-width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.location-img {
  max-width: 100%;
  width: 10px;
  margin-right: 0.5em;
}

.location {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.maps-link {
  margin-top: 0.3em;
  color: #8f8f8f;
}
.location h2 {
  letter-spacing: 1px;
  margin-right: 0.7em;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.container:last-child {
  margin-bottom: 3em;
}
/* ----------------------------------------- */

.place h2 {
  margin: 0;
  margin-bottom: 0.75em;
  font-size: 2rem;
}
/* ----------------------------------------- */
.date {
  font-weight: 700;
  margin-bottom: 0;
}
.description {
  margin-top: 0.45em;
}

@media (min-width: 750px) {
  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid salmon;
  }
  .image-poster {
    margin-right: 2em;
  }
  .card-img {
    max-width: unset;
  }
  .description {
    width: 70%;
  }
}
@media (min-width: 750px) and (max-width: 1200px) {
  .description {
    width: unset;
  }
}
